{% extends 'base.html.twig' %}


{% block body %}

    <div class="card " style="width: 18rem;">
        <div class="card-body">
            <h5 class="card-title"> <strong>{{ film.name }}</strong></h5>
            <p class="card-text">{{ film.sumup }}</p>
            <p class="card-text">{{ film.director }}</p>
            <p class="card-text">{{ film.releaseDate|date('d/m/Y') }}</p>

            {% if app.user %}
                {% if app.user == film.author %}
            <a href="{{ path("film_edit",{id: film.id}) }}" class="btn btn-warning">Modifier ce film</a>
                {% endif %}
            {% endif %}
            <a href="{{ path("film") }}" class="btn btn-primary">Retour aux films</a>
        </div>
    </div>

    <hr>
    <h2 class="text-center">Impressions</h2>

    {% if impressions is empty %}
    <p>Pas encore d'impressions !</p>
    {% else %}
        {% for impression in impressions %}

            <div class="border border-dark">
                <span>Posté le {{ impression.createdAt | date("d/m/Y")}}</span>

                <p class="mt-2">{{ impression.content }}</p>
                {% if app.user %}
                {% if app.user == impression.author %}

                <a href="{{ path("impression_edit", {impressionid: impression.id}) }}" class="btn btn-warning">Modifier cette impression</a>
                <a href="{{ path("impression_delete", {id: impression.id}) }}" class="btn btn-danger">Supprimer cette impression</a>
                {% endif %}
                {% endif %}
            </div>
            <hr>

        {% endfor %}
    {% endif %}

    {% if app.user %}
    {{ form_start(formImpression) }}
        {{ form_row(formImpression.content) }}
    <button type="submit" class="btn btn-success">Poster cette impression</button>
    {{ form_end(formImpression )}}
    {% endif %}
{% endblock  %}